.Consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: rgb(240, 214, 214);
}

.ConsultationContent {
    font-size: 30px;
    color: rgb(117, 58, 211);
    text-transform: uppercase;
}

.ConsultationTitle {
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LetsBegin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(77, 245, 167);