.VideoHeader  {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 140px;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: whitesmoke;
}



