.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 18vh;
    background: rgb(176, 176, 190);
    color: rgb(36, 30, 30);
}

.Nav-Links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}