.NavBar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width:100%;
    height: 350px;
   /*border: 3px solid purple;*/
    background-color: black;
}

.TopHeader {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    /*background-color: white;*/
    /*border:5px solid rgb(234, 252, 79);*/
}
.Containerimg {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    /*border:5px solid red;*/
    padding: 0px;
}
.TopHeaderTitle {
    display: flex;   
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: black;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-color:rgb(204, 179, 98);*/
    color: whitesmoke;
    font-weight: 700;
    text-transform: uppercase;
}

.MidHeader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top:2px solid black;
    /*background-color: rgb(221, 209, 38);*/
    background-color: rgba(0, 140, 255, 0.788);
    width: 100%;
}
.MidHeaderImg {
    height: 150px;
}

.NavHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width:100%;
    height: 80px;
}

.Nav-Links {
    /*border:2px solid firebrick;*/
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
 .Links {
    align-items: center;
    padding: 30px;
    margin: 0;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
 }
/*I used <a> to change the color but why couldnt I change it in links */
 a {
     color:whitesmoke;
 }
 








