.Footer {
    width: 100%;
    height: max-content;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.ScrollUp {
    width: 100%;
}

.ScrollButton {
    width: 180px;
    height: 50px;
    color: rgb(3, 18, 32);
    background-color: rgb(97, 255, 163);
    border: 1px solid rgb(97, 255, 163);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    
}

.SocialMediaContainers {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    width:40%;
    height: 60px;    
}

.Face {
    width: 50px;
    height: 55px;
}

.Instagram {
    width: 55px;
    height: 53px;
}

.Youtube {
  width: 70px;
  height: 50px;

}