
.HomeContent {
    display: flex;
    flex-flow: nowrap column;
    height: max-content;
    width:100%;
    background-color: rgba(16, 105, 221, 0.979);
    /*border-top: 2px solid green;*/
    color: rgb(248, 237, 237);
}
.HomeHeader {
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;*/
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    background-color: whitesmoke;
    opacity: 0.96;
    text-align: center;
    margin: 0;
}

.MealPlan {
    display: flex;
    justify-content: flex-start;
    height: max-content;
    width: 100%;
}

.MealPlanImg {
    margin-left: 50px;
    width:35%;
    height: 400px;
}

    
.MealPlanContent {
    padding: 100px;
    text-transform: uppercase;
    font-size: 20px;
}

.MealPlanTitle {
    font-weight: 900;
}

.Content {
    font-size: 20px;
}

@media screen and (max-width: 400px) {
    .MealPlanContent {
        padding: 10px;
    }
    .LiveContent {
        padding: 10px;
    }
    .ShredContent {
        padding: 10px;
    }

    .Content {
        font-size: 15px;
    }
}

.Live {     
    background-color: black;
    opacity: 0.96;
    height: 50%;           
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.LiveImg {
    margin-right: 50px ;
    height: 400px;
    width: 35%;
    opacity: 1;
}

.LiveContent {
    padding: 100px;
    text-transform: uppercase;
   /* font-weight: 800;*/
    font-size: 20px;
    opacity: 1;
}

.LiveTitle {
    color: rgb(0, 102, 255);
    font-weight: 900;

}

.ShredProgram {
    /*border: 2px solid pink;*/
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.ShredImg {
    margin-left: 50px;
    width: 35%;
    height: 400px;
}

.ShredTitle {
    font-weight: 900;
}

.ShredContent {
    padding: 100px;
    text-transform: uppercase;
    font-size: 20px;
}

@media screen and (max-width: 1230px){
    .MealPlan {
        flex-flow: column-reverse nowrap;
    }  

    .MealPlanImg {
        width: 100%;
        margin: 0;
    }
    .MealPlanContent {
        padding: 55px;
    }

    .Live {
        flex-flow: column-reverse nowrap;
    }

    .LiveImg {
        width: 100%;
        margin: 0;
    }

    .LiveContent {
        padding: 55px;
    }

    .ShredProgram {
        flex-flow: column-reverse nowrap;
    }

    .ShredImg {
        width: 100%;
        margin: 0;
    }

    .ShredContent {
        padding: 55px;
    }
}
